@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap');
@import url('http://fonts.cdnfonts.com/css/minecraft-4');
* {
  margin: 0;
  padding: 0;
}

.Menu{
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(90deg, #04e40f,#0f920f,#0f3f0d,black);
}

.icon-menu{
  margin: 40px 50px;
  position: relative;
  z-index: 10;
}

.icon-menu img{
  vertical-align: top;
  width: 3rem;
  cursor: pointer;
}

.cont-menu{
  background-color: black;
  box-shadow: 2px 0px 5px 2px rgb(66,66,66);
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
}

.cont-menu ul{
  padding: 100px 0px 20px 0px;
  list-style: none;
}

.cont-menu ul a{
  color: white;
  display: block;
  font-size: 25px;
  font-family: 'Minecraft', sans-serif;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
}

.cont-menu ul a:hover{
  background-color: white;
  color: rgb(42, 42, 42);
}



header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

header > nav {
  padding: 1rem;
  width: 20%;
  display: flex;
  justify-content: center;
}

nav a {
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  font-family: 'Minecraft', sans-serif;
  font-weight: 800;  
  font-style: oblique;
}

a:hover {
  border-radius: 50px;
  text-shadow: 0 0 10px #9acd32;
}

a:focus {
  color: #9acd32;
  text-decoration: 0 0 15px #fff;
}

header > h1 {
  width: 80%;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-style: italic;
  font-family: 'Minecraft', sans-serif;
  margin-left: 1rem;  
}

hr {
  width: 90%;
  text-align: center;
  margin: 2rem ;
  height: 0.2rem;
  background: linear-gradient(-40deg, rgb(136, 132, 131), #494443,#050404);
}

main {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > img {
  width: 50%;
  height: 120%;
  border-radius: 15px;
  box-shadow: -10px -10px 5px #05580c;
}

main > img:hover {
  filter: invert(50);  
}

#frm-register {
  width: 25rem;
  height: 60rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: groove 5px rgb(7, 46, 2);
  border-radius: 15px;
  box-shadow: 0 0 25px rgb(9, 255, 0);
  padding: 1rem;
}

#frm-register #img-form {
  width: 50%;
}

#frm-register input {
  width: 80%;
  margin: 0.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #8fee11;
  background-color: #343b41;
  padding-left: 0.5rem;
}

.buttons {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.buttons a {
  color: white;
  font-size: 1.2rem;
  text-shadow: 0 0 10px blueviolet;
  text-decoration: none;
}

.buttons > a:hover {
  font-weight: 900;
  color: #8fee11;
  font-size: 1.3rem;
}

.myButton {
	box-shadow: 0px -2px 7px #073b03;
	background:linear-gradient(to bottom, #021d01 5%, #0c5722 100%);	
	border-radius:15px;
	border:3px solid #05631d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:14px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin: 1rem;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*estilos para js*/

.active{
  transform: translate(-600px);
}



.withe{
  filter: invert();
}


/*media query*/
@media (max-width: 900px) {
 .Menu{
   display: block;
 }

 .ocultar{
   display: none;
 }

}

body {

  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #04e40f,#0f920f,#0f3f0d,black);
}

